{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "GoalAPI",
        "description": "API providing data about football competitions",
        "termsOfService": "http://goalapi.com/content/tos.html",
        "contact": {
            "name": "GoalAPI Support",
            "email": "support@goalapi.com"
        },
        "license": {
            "name": "GoalAPI License",
            "url": "http://goalapi.com/content/license.html"
        }
    },
    "host": "api.goalapi.com",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_key_in_header": {
            "type": "apiKey",
            "name": "X-AUTH-APIKEY",
            "in": "header"
        },
        "api_key_in_query": {
            "type": "apiKey",
            "name": "XXX-AUTH",
            "in": "query"
        }
    },
    "security": [
        {
            "api_key_in_header": []
        },
        {
            "api_key_in_query": []
        }
    ],
    "paths": {
        "/tournaments/": {
            "get": {
                "description": "Returns the list of all tournaments available for authorized Subscription",
                "responses": {
                    "200": {
                        "description": "List of tournaments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Tournament.json#/full"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}": {
            "get": {
                "description": "Returns Tournament",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament object",
                        "schema": {
                            "$ref": "definitions/Tournament.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/": {
            "get": {
                "description": "Returns array of Seasons belonging to specified Tournament",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Season",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Season.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}": {
            "get": {
                "description": "Returns the Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Season object",
                        "schema": {
                            "$ref": "definitions/Season.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/": {
            "get": {
                "description": "Returns the array of Stages belonging to specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Stage objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Stage.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}": {
            "get": {
                "description": "Returns specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Stage object",
                        "schema": {
                            "$ref": "definitions/Stage.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/matches/{page}/": {
            "get": {
                "description": "Returns all of Matches from specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "required": true,
                        "name": "page",
                        "in": "path",
                        "description": "page number for items which requires pagination",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Match objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Match.json#/brief"
                            }
                        },
                        "headers": {
                            "X-First-Index": {
                                "description": "Indicates the index of first item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Last-Index": {
                                "description": "Indicates the index of last item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/matches/{matchId}": {
            "get": {
                "description": "Returns full details of Particular Match",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Match objects",
                        "schema": {
                            "$ref": "definitions/Match.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/matches/{page}/": {
            "get": {
                "description": "Returns all Matches from specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "required": true,
                        "name": "page",
                        "in": "path",
                        "description": "page number for items which requires pagination",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Match objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Match.json#/brief"
                            }
                        },
                        "headers": {
                            "X-First-Index": {
                                "description": "Indicates the index of first item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Last-Index": {
                                "description": "Indicates the index of last item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/matches/{matchId}": {
            "get": {
                "description": "Returns full details of Particular Match",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "matchId",
                        "in": "path",
                        "description": "ID of Match",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Match objects",
                        "schema": {
                            "$ref": "definitions/Match.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/teams/": {
            "get": {
                "description": "Returns list of teams taking part in specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Team objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Team.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/teams/": {
            "get": {
                "description": "Returns list of teams taking part in specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Team objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Team.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/teams/{teamId}": {
            "get": {
                "description": "Returns the Team details related to specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID of Team",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Squad objects",
                        "schema": {
                            "$ref": "definitions/Squad.json#/team"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/teams/{teamId}": {
            "get": {
                "description": "Returns the Team details related to specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID of Team",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Squad objects",
                        "schema": {
                            "$ref": "definitions/Squad.json#/team"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/standings/": {
            "get": {
                "description": "Returns the Standings Tables if they exist for specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of StandingsTable objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "required": [
                                    "id",
                                    "tournament",
                                    "season",
                                    "stage",
                                    "rows"
                                ],
                                "properties": {
                                    "tournament": {
                                        "$ref": "definitions/Tournament.json#/brief"
                                    },
                                    "season": {
                                        "$ref": "definitions/Season.json#/brief"
                                    },
                                    "stage": {
                                        "$ref": "definitions/Stage.json#/brief"
                                    },
                                    "context": {
                                        "type": "object",
                                        "properties": {
                                            "group": {
                                                "type": "string",
                                                "description": "The group name for group stage standings"
                                            },
                                            "zone": {
                                                "type": "string",
                                                "description": "The name of Zone if exists"
                                            },
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "rows": {
                                        "description": "List of Standings Table Rows representing results of the Team",
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "team",
                                                "position",
                                                "points",
                                                "matches",
                                                "goals"
                                            ],
                                            "properties": {
                                                "team": {
                                                    "description": "The Team represented by current row",
                                                    "$ref": "definitions/Team.json#/brief"
                                                },
                                                "position": {
                                                    "description": "Position of Team in ranking",
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "points": {
                                                    "description": "Number of points earned by Team",
                                                    "type": "integer"
                                                },
                                                "matches": {
                                                    "description": "Displays how Team played in specified Stage",
                                                    "type": "object",
                                                    "properties": {
                                                        "played": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "won": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "draw": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "lost": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        }
                                                    }
                                                },
                                                "goals": {
                                                    "description": "Displays number of goals scored by/against this Team in specified Stage",
                                                    "type": "object",
                                                    "properties": {
                                                        "scored": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        },
                                                        "conceded": {
                                                            "type": "integer",
                                                            "minimum": 0
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/teams/{teamId}": {
            "get": {
                "description": "Returns Team",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID of Team",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team object",
                        "schema": {
                            "$ref": "definitions/Team.json#/full"
                        }
                    }
                }
            }
        },
        "/players/{playerId}": {
            "get": {
                "description": "Returns Player",
                "parameters": [
                    {
                        "name": "playerId",
                        "in": "path",
                        "description": "ID of Player",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Player object",
                        "schema": {
                            "$ref": "definitions/Player.json#/full"
                        }
                    }
                }
            }
        },
        "/territories/{territoryId}": {
            "get": {
                "description": "Returns Territory",
                "parameters": [
                    {
                        "name": "territoryId",
                        "in": "path",
                        "description": "ID of Territory",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "definitions/Territory.json#/full"
                        }
                    }
                }
            }
        }
    }
}
