{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "GoalAPI",
        "description": "API providing data about football competitions",
        "termsOfService": "http://goalapi.com/content/tos.html",
        "contact": {
            "name": "GoalAPI Support",
            "email": "support@goalapi.com"
        },
        "license": {
            "name": "GoalAPI License",
            "url": "http://goalapi.com/content/license.html"
        }
    },
    "host": "api.goalapi.com",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_key_in_header": {
            "type": "apiKey",
            "name": "X-AUTH-APIKEY",
            "in": "header"
        },
        "api_key_in_query": {
            "type": "apiKey",
            "name": "XXX-AUTH",
            "in": "query"
        }
    },
    "security": [
        {
            "api_key_in_header": []
        },
        {
            "api_key_in_query": []
        }
    ],
    "paths": {
        "/": {
            "get": {
                "description": "Returns the current state of Subscription bound with API KEY",
                "responses": {
                    "200": {
                        "description": "Subscription object",
                        "schema": {
                            "$ref": "definitions/Subscription.json"
                        }
                    }
                }
            }
        },
        "/tournaments/": {
            "get": {
                "description": "Returns the list of all tournaments available for authorized Subscription",
                "responses": {
                    "200": {
                        "description": "List of tournaments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Tournament.json#full"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}": {
            "get": {
                "description": "Returns Tournament",
                "parameters": [
                    {
                        "$ref": "parameters.json#tournamentId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament object",
                        "schema": {
                            "$ref": "definitions/Tournament.json#full"
                        }
                    }
                }
            }
        },
        "/teams/{teamId}": {
            "get": {
                "description": "Returns Team",
                "parameters": [
                    {
                        "$ref": "parameters.json#teamId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team object",
                        "schema": {
                            "$ref": "definitions/Team.json#full"
                        }
                    }
                }
            }
        },
        "/players/{playerId}": {
            "get": {
                "description": "Returns Player",
                "parameters": [
                    {
                        "$ref": "parameters.json#playerId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Player object",
                        "schema": {
                            "$ref": "definitions/Player.json#full"
                        }
                    }
                }
            }
        },
        "/territories/{territoryId}": {
            "get": {
                "description": "Returns Territory",
                "parameters": [
                    {
                        "name": "territoryId",
                        "in": "path",
                        "description": "ID of Territory",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Territory object",
                        "schema": {
                            "$ref": "definitions/Territory.json#full"
                        }
                    }
                }
            }
        }
    }
}
