{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "GoalAPI",
        "description": "API providing data about football competitions",
        "termsOfService": "http://goalapi.com/content/tos.html",
        "contact": {
            "name": "GoalAPI Support",
            "email": "support@goalapi.com"
        },
        "license": {
            "name": "GoalAPI License",
            "url": "http://goalapi.com/content/license.html"
        }
    },
    "host": "api.goalapi.com",
    "basePath": "/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api_key_in_header": {
            "type": "apiKey",
            "name": "X-AUTH-APIKEY",
            "in": "header"
        },
        "api_key_in_query": {
            "type": "apiKey",
            "name": "XXX-AUTH",
            "in": "query"
        }
    },
    "security": [
        {
            "api_key_in_header": []
        },
        {
            "api_key_in_query": []
        }
    ],
    "paths": {
        "/": {
            "get": {
                "description": "Returns the current state of Subscription bound with API KEY",
                "responses": {
                    "200": {
                        "description": "Subscription object",
                        "schema": {
                            "$ref": "definitions/Subscription.json"
                        }
                    }
                }
            }
        },
        "/tournaments/": {
            "get": {
                "description": "Returns the list of all tournaments available for authorized Subscription",
                "responses": {
                    "200": {
                        "description": "List of tournaments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Tournament.json#/full"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}": {
            "get": {
                "description": "Returns Tournament",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tournament object",
                        "schema": {
                            "$ref": "definitions/Tournament.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/": {
            "get": {
                "description": "Returns array of Seasons belonging to specified Tournament",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Season",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Season.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}": {
            "get": {
                "description": "Returns the Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Season object",
                        "schema": {
                            "$ref": "definitions/Season.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/": {
            "get": {
                "description": "Returns the array of Stages belonging to specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Stage objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Stage.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}": {
            "get": {
                "description": "Returns specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Stage object",
                        "schema": {
                            "$ref": "definitions/Stage.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/matches/{page}/": {
            "get": {
                "description": "Returns all of Matches from specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "required": true,
                        "name": "page",
                        "in": "path",
                        "description": "page number for items which requires pagination",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Match objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Match.json#/brief"
                            }
                        },
                        "headers": {
                            "X-First-Index": {
                                "description": "Indicates the index of first item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Last-Index": {
                                "description": "Indicates the index of last item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/matches/{matchId}": {
            "get": {
                "description": "Returns full details of Particular Match",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "matchId",
                        "in": "path",
                        "description": "ID of Match",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Match objects",
                        "schema": {
                            "$ref": "definitions/Match.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/matches/{page}/": {
            "get": {
                "description": "Returns all Matches from specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "required": true,
                        "name": "page",
                        "in": "path",
                        "description": "page number for items which requires pagination",
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Match objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Match.json#/brief"
                            }
                        },
                        "headers": {
                            "X-First-Index": {
                                "description": "Indicates the index of first item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Last-Index": {
                                "description": "Indicates the index of last item in returned portion of items",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            },
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/matches/{matchId}": {
            "get": {
                "description": "Returns full details of Particular Match",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "matchId",
                        "in": "path",
                        "description": "ID of Match",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Match objects",
                        "schema": {
                            "$ref": "definitions/Match.json#/full"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/teams/": {
            "get": {
                "description": "Returns list of teams taking part in specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Team objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Team.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/teams/": {
            "get": {
                "description": "Returns list of teams taking part in specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of Team objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Team.json#/brief"
                            }
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/teams/{teamId}": {
            "get": {
                "description": "Returns the Team details related to specified Season",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID of Team",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Squad objects",
                        "schema": {
                            "$ref": "definitions/Squad.json#/team"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/teams/{teamId}": {
            "get": {
                "description": "Returns the Team details related to specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID of Team",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Squad objects",
                        "schema": {
                            "$ref": "definitions/Squad.json#/team"
                        }
                    }
                }
            }
        },
        "/tournaments/{tournamentId}/seasons/{seasonId}/stages/{stageId}/standings/": {
            "get": {
                "description": "Returns the Standings Tables if they exist for specified Stage",
                "parameters": [
                    {
                        "name": "tournamentId",
                        "in": "path",
                        "description": "ID of Tournament",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "seasonId",
                        "in": "path",
                        "description": "ID of Season",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stageId",
                        "in": "path",
                        "description": "ID of Stage",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of StandingsTable objects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/StandingsTable.json"
                            }
                        }
                    }
                }
            }
        },
        "/updates/": {
            "get": {
                "description": "Returns Matches updated today. Checks for updates on other data happened since goalapi_notification_timestamp and puts links to updated data to Link header of response ",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Match items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Match.json#/full"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/updates/matches/": {
            "get": {
                "description": "Returns Matches updated since goalapi_notification_timestamp",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Match items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Match.json#/full"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/updates/standings/": {
            "get": {
                "description": "Returns Standings Tables updated since goalapi_notification_timestamp",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Standings Table items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/StandingsTable.json"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/updates/teams/": {
            "get": {
                "description": "Returns Teams updated since goalapi_notification_timestamp",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Team items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Team.json#/brief"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/updates/tournaments/": {
            "get": {
                "description": "Returns Tournaments updated since goalapi_notification_timestamp",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Tournament items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Tournament.json#/brief"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/updates/seasons/": {
            "get": {
                "description": "Returns Seasons updated since goalapi_notification_timestamp",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Season items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Season.json#/brief"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/updates/stages/": {
            "get": {
                "description": "Returns Stages updated since goalapi_notification_timestamp",
                "parameters": [
                    {
                        "name": "goalapi_notification_timestamp",
                        "in": "query",
                        "description": "Timestamp value. This API-call returns all items with lastUpdateTime greater than or equal to goalapi_notification_timestamp",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Stage items",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "definitions/Stage.json#/brief"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "Indicates total number of items retrieved by request",
                                "type": "integer",
                                "format": "int32",
                                "minimum": 0
                            }
                        }
                    }
                }
            }
        },
        "/teams/{teamId}": {
            "get": {
                "description": "Returns Team",
                "parameters": [
                    {
                        "name": "teamId",
                        "in": "path",
                        "description": "ID of Team",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team object",
                        "schema": {
                            "$ref": "definitions/Team.json#/full"
                        }
                    }
                }
            }
        },
        "/players/{playerId}": {
            "get": {
                "description": "Returns Player",
                "parameters": [
                    {
                        "name": "playerId",
                        "in": "path",
                        "description": "ID of Player",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Player object",
                        "schema": {
                            "$ref": "definitions/Player.json#/full"
                        }
                    }
                }
            }
        },
        "/territories/{territoryId}": {
            "get": {
                "description": "Returns Territory",
                "parameters": [
                    {
                        "name": "territoryId",
                        "in": "path",
                        "description": "ID of Territory",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "definitions/Territory.json#/full"
                        }
                    }
                }
            }
        }
    }
}
